src/main/app/inbound/skael-pilot-email-poll.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

  
	<imaps:connector checkFrequency="100" doc:name="IMAP" name="imapsConnector" validateConnections="true">        
    </imaps:connector>
    <sub-flow name="invoke-skael-pilot">
        <logger message="Received Message: #[payload]" level="INFO" category="com.skael.pilot.info.httpin" doc:name="Log the message"/>
        <http:request config-ref="invoke_pilot_API" path="${pilot.api.path}" method="POST" doc:name="Invoke Pilot POST API">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
    </sub-flow>
    

    <flow name="imap-to-csvFlow1">
<!--         <http:listener config-ref="skael-pilot-httpListenerConfig" path="/test" doc:name="HTTP"/> -->
        <imaps:inbound-endpoint connector-ref="imapsConnector" doc:name="Poll emails" host="${email.hostname}" password="${email.password}" port="${email.port}" responseTimeout="10000" user="${email.username}"/>
        <set-payload value="{&quot;emailBody&quot;:&quot;#[message.payloadAs(java.lang.String)]&quot;}" mimeType="application/json" doc:name="Set Payload"/>
        <flow-ref name="invoke-skael-pilot" doc:name="Flow Reference"/>
        <logger message="Response Message from the HTTP endpoint: #[payload]" level="INFO" category="com.skael.pilot.info.httpin" doc:name="Log the response payload"/>
        
        <exception-strategy ref="Process-Errors-Choice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>